---
// src/pages/gracias.astro
import Layout from '../layouts/Layout.astro';
---
<Layout title="¡Gracias por Registrarte!">
    <main class="text-white text-center py-20 px-4 font-sans bg-[linear-gradient(84deg,_#E75F24_28.42%,_#DC561C_64.96%)] min-h-screen flex items-center">
         <div class="container mx-auto max-w-lg text-center relative z-10">
        <div class="mb-8">
            <img src="/logo_emprendedoras_en_panales.svg" alt="Logo DAG" class="mx-auto w-20" />
        </div>
        <div class="max-w-2xl mx-auto">
            <h1 class="text-4xl md:text-5xl font-bold tracking-wide mb-4">¡ESPERA FALTA UN PASO!</h1>
            <p class="text-lg font-display  mb-8">Únete a nuestro grupo de WhatsApp para recibir el link del taller.</p>
           
                <a 
                    href="https://chat.whatsapp.com/DoNJPW36Cxy4rnHhr1GTbm?mode=wwt" 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    class="inline-flex items-center gap-3 font-display bg-[linear-gradient(180deg,_#3ADE4A_0%,_#43A047_100%)] text-white font-semi-bold  tracking-widest text-lg px-8 py-4 rounded-full hover:bg-green-600 transition-colors duration-300"
                >
                    
                    Unirse al Grupo de WhatsApp
                </a>
            </div>
        </div>
    </main>
</Layout>