---
// src/components/Aprender.astro
---
<section class="bg-black text-white py-20 px-4 font-sans">
    <div class="container mx-auto max-w-4xl text-center">
        <h2 class="text-4xl md:text-5xl font-sans font-bold tracking-wide my-1 leading-tight mb-12">
            Lo que vas a aprender
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-12">

            <div class="backdrop-blur-sm bg-white/10 rounded-lg p-6 text-left" style="box-shadow:0 4px 3.9px 0 #E65F24">
                <div class="flex items-center gap-4">
                    <span class="text-5xl  font-bold text-[#fff] flex-shrink-0">1</span>
                    <div>
                        
                        <p class=" font-display leading-[18px]  text-gray-300">Cómo crear una hoja de vida perfecta para trabajos remotos.</p>
                    </div>
                </div>
            </div>

            <div class="backdrop-blur-sm bg-white/10 rounded-lg p-6 text-left" style="box-shadow:0 4px 3.9px 0 #E65F24">
                <div class="flex items-center gap-4">
                    <span class="text-5xl font-bold text-[#fff] flex-shrink-0">2</span>
                    <div>
                    
                        <p class="font-display leading-[18px] text-gray-300">Dónde y cómo encontrar trabajos remotos confiables.</p>
                    </div>
                </div>
            </div>

            <div class="backdrop-blur-sm bg-white/10 rounded-lg p-6 text-left" style="box-shadow: 0  4px 3.9px 0 #E65F24 ">
                <div class="flex items-center gap-4">
                    <span class="text-5xl font-bold text-[#fff] flex-shrink-0">3</span>
                    <div>
                       
                        <p class="font-display leading-[18px] text-gray-300">Cuáles son las habilidades más solicitadas hoy en día.</p>
                    </div>
                </div>
            </div>

            <div class="backdrop-blur-sm bg-white/10 rounded-lg p-6 text-left" style="box-shadow:0 4px 3.9px 0 #E65F24">
                <div class="flex items-center gap-4">
                    <span class="text-5xl font-bold text-[#fff] flex-shrink-0">4</span>
                    <div>
                        
                        <p class="font-display leading-[18px] text-gray-300">Cómo usar la IA para acelerar tu búsqueda y destacar.</p>
                    </div>
                </div>
            </div>

        </div>

        <button class="w-full md:w-[290px] bg-[#FAED37] text-xl text-black font-sans tracking-widest font-bold py-3 rounded-md hover:bg-yellow-400 transition-colors duration-300">
            <a href="#heroForm">
                ÚNETE AHORA
            </a>
        </button>
    </div>
</section>