---
// Archivo: src/components/Hero.astro




---
<section class="bg-[linear-gradient(84deg,_#E75F24_28.42%,_#DC561C_64.96%)] text-white py-16 px-4 font-sans relative overflow-hidden">
    <img src="/NUBE_POSITIVO@2x 1.svg" alt="Nube decorativa" class="absolute top-0 -left-10 w-48 opacity-80 z-0" />
    
    <div class="container mx-auto max-w-lg text-center relative z-10">
        <div class="mb-8">
            <img src="/logo_emprendedoras_en_pañales.svg" alt="Logo DAG" class="mx-auto w-20" />
        </div>

  
    <div class="w-[92px] h-[24px] rounded-full bg-white mb-1 mx-auto">
        <p class="text-base font-sans font-black tracking-widest text-[#DF591F] px-4 ">TALLER</p>
    </div>

   
        <h1 class="text-4xl md:text-5xl font-sans font-bold tracking-wide my-1 leading-tight">Trabajo Remoto Flexible</h1>
        <p class="text-lg font-display  tracking-widest mb-8">Sé mamá presente sin renunciar a tus ingresos.</p>

        <form name="contac-form" method="post" action="https://script.google.com/macros/s/AKfycbwDvUdUZjauvxiSjRbl993QAs6YrZ0UFBPe9fen6yQ2K0aor4mQKItJDoW9wvkqQa0L/exec" class="bg-white/10 backdrop-blur-sm p-8 rounded-lg shadow-xl text-left">
            <p class="text-center font-sans font-bold tracking-widest mb-4">¡COMPLETA EL FORMULARIO!</p>
            <p class=" text-center text-lg font-display leading-tight tracking-widest mb-8">Y luego haz clic en el botón para asegurar tu lugar inmediatamente en el taller. </p>
            <div class="mb-4 font-display tracking-widest ">
                <input type="text" id="nombre" name="Nombre" placeholder="Nombre completo" required class="w-full p-3 rounded-md bg-white text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[#000000]" />
            </div>
            <div class="mb-6 font-display tracking-widest">
                <input type="email" id="email" name="Email" placeholder="Correo electrónico" required class="w-full p-3 rounded-md bg-white text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[#000000]" />
            </div>
            <div class="mb-6 font-display tracking-widest">
                <input 
        type="tel" 
        id="celular" 
        name="Celular" 
        placeholder="Número de celular" 
        required 
        class="w-full p-3 rounded-md bg-white text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[#000000] font-display tracking-widest" 
    />
            </div>
            <button type="submit" class="w-full bg-[#FAED37] text-xl text-black font-sans tracking-widest font-bold   py-3 rounded-md hover:bg-yellow-400 transition-colors duration-300">
                ÚNETE AHORA
            </button>
        </form>
        
        
     <img src="/NUBE_POSITIVO@2x 1.svg" 
     alt="Nube decorativa" 
     class="absolute 
            bottom-[-70px] right-2 lg:bottom-[-64px] lg:right-[-650px]  w-48 opacity-80 z-0 rotate-180" />
  
    </div>
</section>

