---
// Archivo: src/components/Hero.astro




---
<section id="heroForm" class="bg-[linear-gradient(84deg,_#E75F24_28.42%,_#DC561C_64.96%)] text-white py-16 px-4 font-sans relative overflow-hidden">
    <img src="/NUBE_POSITIVO@2x 1.svg" alt="Nube decorativa" class="absolute top-0 -left-10 w-48 opacity-80 z-0" />
    
    <div class="container mx-auto max-w-lg text-center relative z-10">
        <div class="mb-8">
            <img src="/logo_emprendedoras_en_panales.svg" alt="Logo DAG" class="mx-auto w-20" />
        </div>

  
    <div class="w-[92px] h-[24px] rounded-full bg-white mb-1 mx-auto">
        <p class="text-base font-sans font-black tracking-widest text-[#DF591F] px-4 ">TALLER</p>
    </div>

    <div class="text-center">
    <h1 class="text-5xl md:text-5xl font-sans font-bold tracking-wide leading-tight mb-4">
        Trabajo Remoto Flexible
    </h1>

    <div class="flex justify-center">
    <p class="text-3xl md:text-1xl font-display tracking-[1px]  mb-6 text-gray-100    md:whitespace-nowrap">
        Sé mamá presente sin renunciar a tus ingresos.
    </p>
</div>
    
    
    
    <div class="bg-white backdrop-blur-sm rounded-lg px-4 py-3 inline-block mb-8">
        <p class="text-xl md:text-lg font-display font-bold tracking-wide text-[#DF591F]">
            Del 30 de Septiembre al 1 de octubre - 1:00 PM
        </p>
    </div>
</div>

   
        

        <form 
    name="contacto"
    method="POST"
    data-netlify="true"
    action="/gracias"
    class="bg-white/10 backdrop-blur-sm p-8 rounded-lg shadow-xl text-left"
>
    <input type="hidden" name="form-name" value="contacto" />

    <p class="text-center font-sans font-bold tracking-widest mb-4">¡COMPLETA EL FORMULARIO!</p>
    <p class=" text-center text-lg font-display leading-tight tracking-widest mb-8">Y luego haz clic en el botón para asegurar tu lugar inmediatamente en el taller. </p>
    
    <div class="mb-4">
        <input type="text" id="nombre" name="Nombre" placeholder="Nombre completo" required class="w-full p-3 rounded-md bg-white text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[#000000] font-display tracking-widest" />
    </div>
    <div class="mb-6">
        <input type="email" id="email" name="Email" placeholder="Correo electrónico" required class="w-full p-3 rounded-md bg-white text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[#000000] font-display tracking-widest" />
    </div>
    <div class="mb-6">
        <input 
            type="tel" 
            id="celular" 
            name="Celular" 
            placeholder="Número de celular" 
            required 
            class="w-full p-3 rounded-md bg-white text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-[#000000] font-display tracking-widest" 
        />
    </div>
    <button type="submit" class="w-full bg-[#FAED37] text-xl text-black font-sans tracking-widest font-bold py-3 rounded-md hover:bg-yellow-400 transition-colors duration-300">
        ÚNETE AHORA
    </button>
</form>
        
        
    
</section>

