---
// src/components/Identificas.astro
---
<section class="bg-[#6A3A9F] text-white py-20 px-4 font-sans relative overflow-hidden">
    
    <div class="container mx-auto max-w-2xl text-center relative z-10">
        <h2 class="text-4xl md:text-5xl font-sans font-bold tracking-wide my-1 leading-tight mb-10">¿Te identificas?</h2>

        <div class="space-y-4 mb-12">
            <div class="bg-black/20 rounded-lg w-full h-24 flex items-center justify-center px-4 text-lg font-display">
                <p>¿Sientes culpa por no estar tan presente como quisieras?</p>
            </div>
            <div class="bg-black/20 rounded-lg w-full h-24 flex items-center justify-center px-4 text-lg font-display">
                <p class="tracking-wide">¿Te duele perderte de los logros o eventos de tus hijos por el trabajo?</p>
            </div>
            <div class="bg-black/20 rounded-lg w-full h-24 flex items-center justify-center px-4 text-lg font-display">
                <p>¿Quieres libertad económicamente y no tener que elegir entre tus pasiones y el cuidado de tu hogar?</p>
            </div>
        </div>

        <button class="w-full md:w-[290px] bg-[#FAED37] text-xl text-black font-sans tracking-widest font-bold py-3 rounded-md hover:bg-yellow-400 transition-colors duration-300">
            <a href="#heroForm">
                ÚNETE AHORA
            </a>
        </button>
    </div>
</section>