---
// Archivo: src/layouts/Layout.astro
import '../styles/fonts.css'; // <-- AÑADE ESTA LÍNEA

---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Emprendedoras en pañales</title>
     
  </head>
  <body >
    <slot />
  </body>
</html>